@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

@media screen and (min-width: 768px) {

.custom-collapse .collapse{
            display:block;
      }  
}

body {
    background-color: #eeeeee;
}

p,
h2 {
    font-family: 'Sansita Swashed', cursive;
}

li {
    list-style: none;
    font-size: 10px;
    font-family: 'Sansita Swashed', cursive;
}

img {
    width: 16px;
    height: 16px;
}

#mylist  li:hover {  -moz-transform:rotate(-5deg); 
-moz-box-shadow:10px 10px 20px #000000;
-webkit-transform:rotate(-5deg); 
-webkit-box-shadow:10px 10px 20px #000000;
transform:rotate(4deg); box-shadow:10px 10px 20px #000000; 
margin-left: 10px;
}
